<section class="error-part">
    <div class="container" style="text-align: center;">
      <h1>404 | Not Found</h1>
      <img class="img-fluid" src="/images/error.png" alt="error" />
      <h3>Có lỗi đã xảy ra</h3>
      <p>Không tìm thấy trang</p>
      <a href="/">Trở lại trang chủ</a>
    </div>
  </section>