
<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Thêm mã giảm giá</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form action="/coupon" method="post">
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Tên</label>
          <input type="text" class="form-control" id="exampleInputEmail1" name="name" placeholder="Nhập tên">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Tiêu đề</label>
          <input type="text" class="form-control" name="title" id="exampleInputPassword1" placeholder="Nhập tiêu đề">
        </div>
        <div class="form-group">
            <label>Ngày bắt đầu</label>
              <div class="input-group date" id="reservationdate" data-target-input="nearest">
                  <input name="date_from" type="datetime-local" class="form-control" data-target="#reservationdate">
              </div>
          </div>
          <div class="form-group">
            <label>Ngày kết thúc</label>
              <div class="input-group date" id="reservationdate" data-target-input="nearest">
                  <input name="date_to" type="datetime-local" class="form-control" data-target="#reservationdate">
             
              </div>
          </div>  
        <div class="form-group">
            <label for="exampleInputEmail1">Nhập mã</label>
           
            <input name="code" type="text" class="code-value form-control" id="exampleInputEmail1" placeholder="Tạo mã ngẫu nhiên hoặc nhập mã">
            <button type="button" class="btn create-code mt-3 btn-primary">Tạo mã</button>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Số tiền muốn giảm</label>
            <input type="text" name="number_decrement" class="form-control" id="exampleInputEmail1" placeholder="Nhập số tiên muốn giảm">
        </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Thêm mã giảm giá</button>
      </div>
    </form>
  </div>